<form method="post">
  <p>
    <input type="text" name="title"><%= @page.title %></p>
  </p>
  <p>
    <textarea style="width:100%" name="body" rows="20"><%= @page.body %></textarea>
  </p>
  <p>
    <input type="submit" value="Save"/>
  </p>
</form>

<script type="text/javascript">
  wmd_options = { output: "Markdown" };
</script>

<script type="text/javascript" src="/assets/wmd/wmd.js"></script>
