<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title><%= @page and @page.title %></title>
    <meta http-equiv="Content-Language" content="English" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" media="screen" type="text/css" href="/assets/stylesheets/wiki.css" />
    <link rel="stylesheet" media="print" type="text/css" href="/assets/stylesheets/print.css" />
  </head>
  <body>
    <div class="container">
      <h1><a href="/">KWiki</a></h1>
      <div class="content">
	<%= @content %>
      </div>
    </div>
  </body>
</html>
